#MainTitle{
    background-color: yellow;
    max-width: 500px;
    max-height: 300px;
    text-align: center;
}
#flex{
    display: flexbox;
    grid-template-rows: 
    "head", "head","head"
    "left", "main", "right",
    "footer", "footer", "footer"
     ;
}
#ArticleTitle
{

}