body {
    display: grid;
    grid-template-areas:
        "borderL road borderR"
        "borderL road borderR"
        "borderL road borderR";

    grid-template-columns: 700px auto 600px;
    grid-template-rows: 250px 250px 350px;
    background-color: grey;
}



#player {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    left: 0px;
    grid-area: road;
    justify-self: center;
    align-self: flex-end;
}

#borderL {
    background-color: green;
    grid-area: borderL;
}

#borderR {
    background-color: green;
    grid-area: borderR;
}

#score {
    grid-area: borderL;
    color: white;
    margin-left: 1em;
}

#road {
    grid-area: road;
    width: 540px;
    height: 850px;
    justify-self: center;
}

#gamearea {
    grid-area: road;
    width: 520px;
    height: 850px;
    position: relative;
    justify-self: center;
    z-index: 10;
}

.object {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}