#wrapper {
    font-family: 'Times New Roman';
    grid-template-columns: auto;
}

body {
    background-color: rgb(255, 255, 232);
}



#MainTitle {
    background-color: rgb(10, 9, 9);
    color: rgb(238, 10, 10);
    width: auto;
    height: 100px;
    grid-area: main;
    font-family: Tahoma;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}


#ArticleTitle {
    grid-area: title;
    font-size: xxx-large;
    font-family: Impact;
    margin-top: auto;
    margin-bottom: auto;
}

#article1 {
    grid-area: article1;
}

#article2 {
    grid-area: article2;
}

#article3 {
    grid-area: article3;
}

#img1 {
    grid-area: img1;
    justify-self: center;
    width: 350px;
    height: 250px;
}

#img2 {
    grid-area: img2;
    justify-self: center;
    width: 250px;
    height: 350px;

}

#img3 {
    grid-area: img3;
    justify-self: center;
    max-width: 500px;
    width: auto;
    height: 400px;
}

#img4 {
    grid-area: img4;
    margin-top: auto;
    justify-self: center;
    width: 350px;
    height: 300px;

}

b {
    font-weight: bold;
}

#subtitle {
    grid-area: subtitle;
    font-size: medium;
}

#captiontop {
    grid-area: img1;
    margin-top: 20em;
    justify-content: center;
    font-size: small;
    font-weight: 100;
}

#captionbottom {
    grid-area: caption;
    justify-content: center;
    font-size: small;
    font-weight: 100;
}

#dates {
    grid-area: dates;
    margin-bottom: auto;
    color: gray;
    font-family: Impact;
}

#wrapper {
    display: grid;
    grid-template-areas:
        "main"
        "dates"
        "title"
        "subtitle"
        "img1"
        "article1"
        "caption"
        "img2"
        "article2"
        "img3"
        "article3"
        "img4";
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto;
}

@media screen and (min-width: 1200px) {
    #wrapper {
        grid-template-areas:
            "main      main"
            "img1    dates"
            "img1    title"
            "img1    subtitle"
            "img1  article1"
            "img2  article2"
            "img2  article3"
            "img3  img4";

        grid-template-columns: 700px 40vw;
        grid-template-rows: auto auto auto;
    }

    #article1,
    #article2,
    #article3 {
        margin-left: 2em;
    }

    #subtitle {
        margin-left: 2em;
    }


    #img1 {
        grid-area: img1;
        justify-self: end;
    }

    #img2 {
        grid-area: img2;
        margin-right: 2em;
        justify-self: end;
        transform: rotate(-7deg);
        filter: drop-shadow(-13px 10px 5px #4e4e4f);
    }

    #img3 {
        grid-area: img3;
        justify-self: end;
        filter: drop-shadow(30px 12px 10px gray)
    }

    #img4 {
        grid-area: img4;
        justify-self: end;
        transform: rotate(20deg);
    }

    #img5 {
        grid-area: img4;
        margin-top: auto;
        margin-bottom: 5vw;
        margin-left: 6vw;
        width: 250px;
        height: 200px;
    }

    #captiontop {
        grid-area: img1;
        font-size: small;
        margin-left: auto;
        margin-right: 15em;
        width: 150px;
    }

    #captionbottom {
        grid-area: img1;
        font-size: small;
        height: 190px;
        width: 150px;
        margin-left: auto;
        margin-top: 20em;
    }

    #dates {
        margin-top: auto;
        margin-left: 1em;
    }

    #ArticleTitle {
        margin-left: 2rem;
    }

    #MainTitle {
        width: 600px;
        height: 100px;
        margin-left: 1em;
    }

}

@media screen and (max-width: 1600px) {
    #img5 {
        display: none;
    }

    #img2 {
        margin-top: 4em
    }
}