body {
    background-color: rgb(72, 69, 65);
}


.carousel {
    display: flex;
    height: 800px;
}

.carousel-item img {
    width: auto;
    height: auto;
    object-fit: cover;
}

#search {
    color: black;
    font-size: 16px;
}

#searchterm {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
}

input::placeholder {
    color: rgb(0, 0, 0);
}