body {
    background-color: rgb(72, 69, 65);
}


.carousel {
    display: flex;
    height: 800px;
}

.carousel-item img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.favorites-container img {
    display: flex;
    width: 250px;
    height: 250px;
}

.carousel .carousel-item {
    width: 400px !important;
}

#search {
    color: black;
    font-size: 16px;
}

#searchterm {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

.input-field {
    border: 1px solid black;
    background-color: white;
    max-width: 150px;
}