body {
    background-color: rgb(72, 69, 65);
}

label {
    font-size: 20px !important;
    color: aliceblue;
    margin-left: 1em;
}


.favorite-item img,
.favorite-item p {
    margin-left: 1em;
}

.carousel {
    display: flex;
    height: 800px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.favorites-container img {
    display: flex;
    width: 250px;
    height: 250px;
}

.carousel .carousel-item {
    width: 400px !important;
    height: 500px;
}

.carousel-item img.zoomed {
    transform: scale(2) translate(-10px, -10px);
    object-fit: contain;
}


#search {
    color: black;
    font-size: 16px;
}

#deltFav {
    color: black;
    font-size: 16px;
}

#deltFav {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
}

#searchterm {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

.input-field {
    border: 1px solid black;
    background-color: white;
    max-width: 220px;
}