body {
    background-color: rgb(64, 64, 64);

    display: grid;

    grid-template-areas:
        "search gallery gallery"
        "favs-search   gallery gallery"
        "favs-img     desc desc";

    grid-template-columns: 700px 400px 600px;
    grid-template-rows: 370px auto auto;
}

label {
    font-size: 20px !important;
    color: aliceblue;
    margin-left: 1em;
}

.favorite-item img,
.favorite-item p {
    margin-left: 1em;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
    object-fit: cover;
}


.favorites-container {
    grid-area: favs-img;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(88, 88, 88);
    filter: drop-shadow(19px 15px 5px #1f1e1e) drop-shadow(-19px 15px 5px #1f1e1e);
    margin-left: 3em;
    max-width: 670px;

}

.Favorite {
    grid-area: favs-search;
    background-color: rgb(88, 88, 88);
    box-shadow: 19px 15px 5px rgba(31, 30, 30, 0.9), -19px 15px 5px rgba(31, 30, 30, 0.9);
    margin-left: 3em;
    margin-left: 3em;
    min-width: 650px;
    max-width: 670px;
    overflow: visible;
    margin-top: vh;
}

.Favorite h2 {
    justify-self: center;
}

.carousel {
    grid-area: gallery;
    display: flex;
    height: 800px;
    position: relative;
    overflow: visible;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    z-index: 5;
}


.carousel .carousel-item {
    width: 400px !important;
    height: 620px !important;
    z-index: 1;
}

#frame {
    grid-area: gallery;
    display: flex;
    transform: scale(2);
    margin-top: 14em;
    margin-left: 24em;
    pointer-events: none;
    transition: opacity 0.4s ease;
    opacity: 0;
}

#frame.visible {
    opacity: 1;
}

#frame.hidden {
    opacity: 0;
}

.carousel-item img.zoomed {
    transform: scale(2) translate(-10px, -10px);
    object-fit: contain;
    z-index: 999;
}

#search {
    color: black;
    font-size: 16px;
}

#delt {
    color: black;
    font-size: 16px;
}

#deltFav {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
}

#searchterm {
    border: 3px solid black;
    width: 200px;
    background-color: aliceblue;
    margin-top: 3vh;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-self: center;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
    margin-left: 14em;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

#search-container {
    grid-area: search;
    background-color: rgb(88, 88, 88);
    box-shadow:
        19px 15px 5px rgba(31, 30, 30, 0.9),
        -19px 15px 5px rgba(31, 30, 30, 0.9),
        19px -15px 20px rgba(31, 30, 30, 0.9),
        -19px -15px 20px rgba(31, 30, 30, 0.9);
    margin-left: 3em;
    max-width: 670px;
    max-height: 500px;
    margin-top: 4vh;
}

.input-field {
    border: 1px solid black;
    background-color: white;
    width: 250px;
    justify-self: center;
    overflow: visible;
}

#description-overlay {
    grid-area: desc;
    display: none;
    justify-content: end;
    color: white;
    z-index: 9999;
    font-size: large;
    background-color: #1f1e1e;
    margin-left: 2em;
    margin-bottom: 1em;
}

#description-text {
    margin: 1em;
}

.artDetail {
    color: aliceblue;
    text-align: center;
    font-size: large;
}

#description-button {
    grid-area: desc;
    display: grid;
    width: 150px;
    height: 30px;
    background-color: #403f3f;
    color: rgb(141, 8, 8);
}

@media screen and (max-width: 850px) {
    body {
        display: grid;
        grid-template-areas:
            "search "
            "gallery"
            "favs-search"
            "favs-img";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    #frame {
        margin-top: 15em;
        margin-left: 16em;

    }
}